.popup__container-close {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.popup__container-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 535px) {
    .popup__container-close {
        top: -45px;
        right: -10px;
        width: 34px;
        height: 34px;
    }
}