.researcher__button {
    min-width: 150px;
    min-height: 50px;
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 700px) {
    .researcher__button {
        min-width: 120px;
    }
}

@media screen and (max-width: 535px) {
    .researcher__button {
        width: 100%;
        margin: 36px 0 0;
    }
}

.researcher__button:hover {
    opacity: 0.6;
}