.photo-grid__item-info-like {
    max-height: 19px;
}

.photo-grid__item-info-like:hover {
    cursor: pointer;
    opacity: 0.5;
}

.photo-grid__item-info-like:active {
    background-image: url(../../../images/blackLike.svg);
}